<% layout('./layouts/boilerplate')%>
    <div class="container-fluid my-3 p-2">
        <h1>
            <%= userConnected.prenom %>
                <%= userConnected.nom %>
        </h1>
        <h5>
            <%= userConnected.poste %>
        </h5>
        <div class="montant d-flex justify-content-end">
            <h4>Montant encaissé depuis la dernière connexion:
            <strong><%= total %> FCFA</strong></h4>
        </div>
    </div>
    <hr class="my-5">
    <a href="/caisse/historique" class="btn btn-primary">Historique d'encaissement</a>
    <div class="table-responsive my-5">
        <table class="table table-hover align-middle justify-center">
            <thead class="table-light">
                <tr>
                    <th scope="col">Date d'enregistrement</th>
                    <th scope="col">Numéro de dossier</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Service demandé</th>
                    <th scope="col">Montant dû</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <% for (let facture of factures) {%>
                    <tr>
                        <td>
                            <%= facture.datecreation %>
                        </td>
                        <td>
                            <%= facture.patient.numdossier %>
                        </td>
                        <td>
                            <%= facture.patient.prenom %>
                        </td>
                        <td>
                            <%= facture.patient.nom %>
                        </td>
                        <td>
                            <%= facture.service.titre %>
                        </td>
                        <td>
                            <%= facture.montantdu %>
                        </td>
                        <td>
                            <a href="/caisse/<%=facture._id%>" class="btn btn-primary">Encaisser</a>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>